<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ankle Breakers</title>
  </head>
  <style>
    .middle {
      display: flex;
      justify-content: center;
      position: relative;
      top: 5px;
    }
    .entrance {
      display: flex;
      justify-content: center;
      position: relative;
      left: 250px;
    }
    .Vpads {
      display: block;
      margin: 20px 0;
      width: 200px;
      height: auto;
    }
  </style>
  <body>
    <div class="middle">
      <h1>I Got Next</h1>
    </div>
    <div class="middle">
      <img
        src="{{ url_for('static', filename='images/court4.jpg') }}"
        alt="Court"
        width="200"
        height="200"
      />
      <img
        src="{{ url_for('static', filename='images/court5.jpg') }}"
        alt="Court"
        width="200"
        height="200"
      />
      <img
        src="{{ url_for('static', filename='images/court6.jpg') }}"
        alt="Court"
        width="200"
        height="200"
      />
    </div>
    <div class="Vpads"></div>
    <div class="middle">
      <a href="http://127.0.0.1:5000/next">
        <img
          src="{{ url_for('static', filename='images/court1.jpg') }}"
          alt="Court"
          width="200"
          height="200"
        />
      </a>
      <img
        src="{{ url_for('static', filename='images/court2.jpg') }}"
        alt="Court"
        width="200"
        height="200"
      />
      <img
        src="{{ url_for('static', filename='images/court3.jpg') }}"
        alt="Court"
        width="200"
        height="200"
      />
    </div>
    <div class="middle">
      <div class="entrance">
        <h3>entrance</h3>
      </div>
    </div>
  </body>
</html>
